<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Team Couch</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="nav-bar"></div>
    <h1>{{ title }}</h1>
      <div v-show="isShown" class="product-image">
        <img v-bind:src="image">
      </div>
      <p>Teams:</p>
      <div v-for="team in teams" :key="team.id" class="color-circle" :style="{ backgroundColor: team.color }">{{ team.name }}</div>
      <p>Available team leads:</p>
      <ul>
        <li v-for="lead in leads">{{ lead.name }}</li>
      </ul>
    <div class="cart">
      <p>Cart({{ cart }})</p>
    </div>
    <button class="button" :class="{ disabledButton: !inStock }" v-on:click="addToCart" :disabled="!inStock">Add to cart</button>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Import Components -->

  <!-- Mount App -->
  <script>
    app.mount('#app')
  </script>
</body>

</html>