<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Team Couch</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="nav-bar"></div>
    <h1>{{ title }}</h1>
    <div v-show="showImage" class="product-image">
      <img v-bind:src="image">
    </div>
    <p v-if="hasCapacity">Free to add</p>
    <p v-else>No room</p>
    <h2>Teams:</h2>
    <div v-for="(team, index) in teams" :key="team.id" @mouseover="showProject(index)" class="team-box"
      :style="{ backgroundColor: team.color }">
      {{ team.name }}
    </div>
    <h2>Available team leads:</h2>
    <ul>
      <li v-for="lead in leads">{{ lead.name }}</li>
    </ul>
    <div class="cart">
      <p>Project({{ project }})</p>
    </div>
    <button class="button" :class="{ disabledButton: !hasCapacity }" v-on:click="addToProject"
      :disabled="!hasCapacity">Add to project</button>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Import Components -->

  <!-- Mount App -->
  <script>
    app.mount('#app')
  </script>
</body>

</html>